{
  "presets": [//预设
    ["env", { "modules": false }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],//插件
  "comments": false,//注释
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
